*{
    font-family:Sans-serif;
    background-color:#212121;
}
nav{
    display: flex;
    justify-content: space-between; 
    height: 68px;
    position:sticky;
    top: 0px;

}
#introduction{
    display: flex;
    margin-top: 55px;
}
.logo{
    margin-left: 20px;
    background-color: orange;
    font-size: 17px;
    height:60px;
    transition-duration: 0.5s;
    color:white ;
}
.keys{
    display: flex;
    width: 450px;
    padding-top: 20px;
    justify-content: space-evenly;
    font-weight: bold;
    margin-right: 20px;
}
.keys a{
    text-decoration: none;
    color: #eee;
    transition-duration: 0.4s;

}
.keys a:hover{
    color:rgba(255, 166, 0, 0.762);
    font-size: 20px;
}

#intro{
    margin-top: 8%;
    margin-left: 15%;
    width: 500px;
    
}
#intro h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span{
    color: orange;
}
#intro p{
    color: #eee;
    line-height: 22px;
}

.images{
    margin-left: 8%;
    margin-top: 5%;
    width: auto;
    height: auto;  
}
.boy{
    border-radius: 15px;
    width: 250px;
    transition-duration: 0.5s;
}
.boy:hover{
    transform: scale(1.1);
    
}
#skills{    
    display:flex;
   justify-content: center;
    background-color: black;
   padding: 50px;
   
}
.skill{
    border-radius: 10px ;
    transition-duration: 0.5s;
    margin-left: 50px;
    background-color: orange;
    padding: 5px;
    font-weight: 300;
}
.skill p{
    background-color: orange;
    
}
#skillhead{
    font-size: 30px;
    text-align: center;
    margin-top: 190px;
    color: white;
}
.skill #s,.skill #j,.skill #jd{
    width: 70px;
    text-align: center;
}
.skill p{
    color: black;
    font-weight: bold;
}
.skill:hover{
    
    transform: scale(1.1);
    
}

#eduheading{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: white;
}
.education{
    width: 350px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
    color: #eee;
}
.education p{
    line-height: 10px;
    
    
}
.education:hover{
    transform: scale(1.2);
}
#edu{
    display: flex;
    justify-content: space-evenly;
    background-color:black;
    padding: 50px;
}
.proheading{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: white;
    

}
#project{
    display: grid;
    justify-content: center;
    background-color:black;
    padding: 50px;
}
.pro,.pro1{
    height: 150px;
    padding: 10px;
    width: 1300px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.pro1{
    margin-top: 20px;

}
h3{
    color: white;
}
.pro p,.pro1 p{
    color:#eee;
}
.pro:hover,.pro1:hover{
    transform: scale(1.1);
}
footer{
    height: 100%;
    text-align: center; 
    padding: 10px;
    background-color: orange;
}
footer h1,footer img, footer a,footer p{
    background-color:orange;
    color: black;
}
footer p a{
    font-size: 18px;
    text-decoration: none;
    color: blue;
}
footer p a:hover{
    text-decoration: underline;
}



/* Mobile Devices */



@media (min-width: 344px) and (max-width:619px) {
    .logo{
        margin-left: 20px;
        background-color: orange;
        font-size: 15px;
        height:60px;
        transition-duration: 0.5s;
        color:white ;
    }
    nav{
        display: flex;
        justify-content: space-between; 
        height: 120px;
        position:sticky;
        top: 0px;
    
    }

    .keys {
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: left;
        font-size: small;
        padding-top: 0px;
        margin-right: 0px;
    }
    #introduction{
        display: flex;
        flex-direction: column-reverse;

    }

    #intro {
        margin-left: 5%;
        width: 90%;
        margin-top: 5%;
    }

    #intro h1 {
        font-size: 35px;
    }

    .boy {
        width: 200px;
    }

    #skills {
        flex-direction: column;
        align-items: center;
        
    }

    
    .skill {
        width: 60%;
        margin-bottom: 20px;
        text-align: center;
    
    }
    .skill #s,.skill #j,.skill #jd{
        width: auto;
    }

    .education,.skill{
        margin-left: 0px;
    }

    #edu {
        flex-direction: column;
        align-items: center;
        
    }
    .education{
        width: 300px;
        height: 100px;
        font-size: 10px;
        margin-top: 9px;
    }

    #project {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pro,
    .pro1 {
        width: 100%;
        height: 130px;
        font-size: 10px;
    }
    footer{
        font-size: small;
    }
}



/*......For Tabs and large screens...... */


@media (min-width: 619px) and ( max-width: 1351px)  {
    .logo{
        margin-left: 20px;
        background-color: orange;
        font-size: 17px;
        height:60px;
        transition-duration: 0.5s;
        color:white ;
    }
    nav{
        display: flex;
        justify-content: space-between; 
        position:sticky;
        top: 0px;
    
    }


    #intro {
        margin-left: 5%;
        width: 90%;
        margin-top: 5%;
    }

    #intro h1 {
        font-size: 35px;
    }

    .boy {
        width: 200px;
    }

    #skills {
        flex-direction: column;
        align-items: center;
        
    }

    
    .skill {
        width: 60%;
        margin-bottom: 20px;
        text-align: center;
    
    }
    .skill #s,.skill #j,.skill #jd{
        width: auto;
    }

    .education,.skill{
        margin-left: 0px;
    }

    #edu {
        flex-direction: column;
        align-items: center;
    }
    .education{
        width: 600px;
        height: 150px;
        margin-top: 9px;
    }

    #project {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pro,
    .pro1 {
        width: 100%;
        height: 130px;
        font-size: 15px;
    }
   
}






